/*
 * -------------------------------------------------
 * AWS HealthOmics Config 
 * -------------------------------------------------
 * Pipeline parameters specific to running Phoenix on AWS HealthOmics 
 * -------------------------------------------------
 */

params {
  fasta_href = "s3://argos-resources/genomes/GRCh37/bwa_fasta/b37.fasta"
  bwa_index_href = "s3://argos-resources/genomes/GRCh37/bwa_fasta"

  fasta_mref = "s3://argos-resources/genomes/GRCm38/GRCm38.fasta"
  bwa_index_mref = "s3://argos-resources/genomes/GRCm38"

  outdir = "/mnt/workflow/pubdir"
}
