/*
 * -------------------------------------------------
 * Juno config 
 * -------------------------------------------------
 * Pipeline parameters specific to running Phoenix with LSF on the Juno cluster at MSKCC
 * -------------------------------------------------
 */


process {
  beforeScript = "module load singularity/3.7.1; unset R_LIBS; catch_term () { echo 'caught USR2/TERM signal'; set +e; false; on_exit ; } ; trap catch_term USR2 TERM"
  errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
  maxRetries = 3

  singularity.cacheDir   = ""/juno/work/ci/singularity_cachedir_nxf"
  
  executor = "lsf"
  clusterOptions = "-sla CMOPI"
  queueSize = 500
  perJobMemLimit = true
}

params {
  fasta_href = "/juno/work/ci/resources/genomes/GRCh37/bwa_fasta/b37.fasta"
  bwa_index_href = "/juno/work/ci/resources/genomes/GRCh37/bwa_fasta"

  fasta_mref = "/juno/work/ci/resources/genomes/GRCm38/GRCm38.fasta"
  bwa_index_mref = "/juno/work/ci/resources/genomes/GRCm38"

}
