/*
 * -------------------------------------------------
 * Juno config 
 * -------------------------------------------------
 * Pipeline parameters specific to running Phoenix with LSF on the Juno cluster at MSKCC
 * -------------------------------------------------
 */


process {
  beforeScript = "module load singularity/3.7.1; unset R_LIBS; catch_term () { echo 'caught USR2/TERM signal'; set +e; false; on_exit ; } ; trap catch_term USR2 TERM"
  errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
  maxRetries = 3

  singularity.cacheDir   = "/juno/work/ci/singularity_cachedir_nxf"

  executor = "local"
  cpus = 8

}

GENOMES="/rtsess01/compute/juno/bic/juno/depot/assemblies"

params {

  fasta_href = "$GENOMES/H.sapiens/b37/b37.fasta"
  bwa_index_href = "$GENOMES/H.sapiens/b37/index/bwa/0.7.12"

  fasta_mref = "$GENOMES/M.musculus/GRCm38/GRCm38.fasta"
  bwa_index_mref = "$GENOMES/M.musculus/GRCm38/index/bwa/0.7.12"

}
